<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ServeletSample</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- NVCBegin -->
  <servlet>
    <servlet-name>MVCBegin</servlet-name>
    <servlet-class>com.test.svt.MVCBegin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVCBegin</servlet-name>
    <url-pattern>/mvcbegin</url-pattern>
  </servlet-mapping>
  
  <!-- NVCSample01 -->
  <servlet>
    <servlet-name>NVCSample01</servlet-name>
    <servlet-class>com.test.svt.MVCSample01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NVCSample01</servlet-name>
    <url-pattern>/mvcsample01</url-pattern>
  </servlet-mapping>
  
  <!-- NVCSample02 -->
  <servlet>
    <servlet-name>MVCSample02</servlet-name>
    <servlet-class>com.test.svt.MVCSample02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVCSample02</servlet-name>
    <url-pattern>/mvcsample02</url-pattern>
  </servlet-mapping>
</web-app>