<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>ServeletSample</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
<!--
 	<servlet>
		<servlet-name></servlet-name>
		<servlet-class></servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name></servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping> 
-->

<!-- MemberList → MemberListController -->
 	<servlet>
		<servlet-name>MemberList</servlet-name>
		<servlet-class>com.test.mvc.MemberListController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MemberList</servlet-name>
		<url-pattern>/memberlist</url-pattern>
	</servlet-mapping>
	
<!-- (form의 action) goinsert → MemberInsertForm -->
 	<servlet>
		<servlet-name>MemberInsertForm</servlet-name>
		<servlet-class>com.test.mvc.MemberInsertFormController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MemberInsertForm</servlet-name>
		<url-pattern>/insertform</url-pattern>
	</servlet-mapping> 	 
<!-- (InsertForm의 action) MemberInsert -->	
	<servlet>
		<servlet-name>MemberInsert</servlet-name>
		<servlet-class>com.test.mvc.MemberInsertController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MemberInsert</servlet-name>
		<url-pattern>/goInsert</url-pattern>
	</servlet-mapping>
</web-app>